body {
    font-family: Arial, sans-serif;
}

.product_card {
    display: flex;
    width: 80%;
    margin: 20px auto;
    position: relative;
}

.close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.gallery {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}

.gallery .main-image {
    width: 100%;
    /* Основное изображение занимает всю ширину */
    margin-bottom: 10px;
}

.gallery .thumbnail {
    width: 10%;
    /* Маленькие превью */
    display: inline-block;
    /* Размещаем превью в одну линию */
    margin-right: 2%;
}


.product_info {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}

.product_info h1 {
    margin-top: 0;
}

.price,
.size {
    font-size: 18px;
}

.quantity_selector {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.quantity_selector button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.quantity_selector input {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.buy_button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.description {
    margin-top: 20px;
}