body {
    font-family: 'Futura PT, Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product_card {
    display: flex;
    width: 80%;
    margin: 20px auto;
    position: relative;
}

.gallery {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}

.gallery .main-image {
    width: 100%;
    /* Основное изображение занимает всю ширину */
    margin-bottom: 10px;
}

.gallery .thumbnail {
    width: 10%;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 2%;
    border: 2px solid transparent; /* Стандартная прозрачная рамка */
}


.product_info {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}

.product_info h1 {
    margin-top: 0;
}

.price,
.size {
    font-size: 18px;
}

.quantity_selector {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.quantity_selector button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.quantity_selector input {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.buy_button {
    padding: 15px 25px 15px 25px;
    font-size: 12px;
    font-weight: 300;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* Отступы для отделения от информации о продукте */
    transition: background-color 0.3s;
}

.description {
    margin-top: 20px;
}

/* Медиа-запросы для экранов меньше 768 пикселей */
@media (max-width: 768px) {
    .product_card {
        flex-direction: column; /* Элементы теперь будут стекаться вертикально */
        width: 100%; /* Карточка продукта занимает всю ширину экрана */
        padding: 10px; /* Добавляем немного паддинга для лучшего восприятия на малых экранах */
    }

    .gallery,
    .product_info {
        width: 100%; /* Оба блока теперь занимают всю ширину карточки */
    }

    .gallery .thumbnail {
        width: 20%; /* Увеличиваем размер миниатюр для легкости нажатия на сенсорных экранах */
    }

    .buy_button {
        width: 100%; /* Кнопку покупки делаем на всю ширину */
        padding: 12px; /* Увеличиваем паддинг для удобства нажатия */
        font-size: 16px; /* Увеличиваем шрифт кнопки */
    }
}
