/* --------------------------- COMMON STYLES --------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Futura PT, Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

#sidebar hr {
    height: 1px;          /* Указываем высоту линии */
    border-width: 0;      /* Убираем стандартные границы */
    background-color: #ccc; /* Цвет линии */
    margin: 30px 0;
}

/* --------------------------- HEADER STYLES --------------------------- */
header {
    background-color: #f4f4f4;
    margin: 10px;
    padding: 20px 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    /* Центрируйте текст в заголовке для общего выравнивания */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Для выравнивания элементов в строке по вертикали */
    width: 100%;
    /* Устанавливаем ширину навигации на всю ширину родителя */
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
}

nav li {
    margin: 0 100px;
    /* Устанавливаем отступ между элементами списка */
}

nav li:nth-child(1),
nav li:nth-child(3) {
    flex: 1;
}

nav li:nth-child(2) {
    flex: 2;
    /* Устанавливаем, чтобы заголовок занимал больше места по сравнению с другими элементами */
    text-align: center;
    /* Центрирование заголовка */
}

.cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1000;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -560px;
    width: 560px;
    height: 100%;
    padding: 40px;
    background-color: white;
    transition: right 0.5s;
    z-index: 999;
}

.sidebar-heading {
    font-size: 22px;
    line-height: 1.35;
    font-weight: 600;
    margin-bottom: 20px;
}

.order-button {
    width: 100%;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 300;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px; /* Отступ сверху для кнопки */
}

.order-button:hover {
    background-color: #333;
}

.close-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;   /* можно уменьшить, чтобы крестик был меньше */
    color: black;      /* меняем цвет на черный */
    font-weight: 100;  /* более тонкий шрифт */
    z-index: 1000;
    display: none;     /* по умолчанию скрыт */
}

/* --------------------------- SIDEBAR --------------------------- */
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; /* Расстояние между элементами списка */
}

.cart-item-name, .cart-item-quantity, .cart-item-price {
    flex: 1; /* Равномерное распределение элементов */
    text-align: center;
}

.cart-item-quantity p {
    display: inline-block; /* Чтобы число оставалось между кнопками */
    margin: 0 10px;
}

.cart-item-quantity {
    background: none;
    border: none;
}

.sidebar-icon {
    width: 16px;
    height: 16px;
}

.sidebar-button {
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar-button:focus {
    outline: none;
}

.cart-total {
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 50px;
}


/* --------------------------- MAIN CONTENT STYLES --------------------------- */
main {
    flex: 1;
    margin-top: 20px;
    padding: 20px 10%;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: -10px; /* Компенсация левого отступа для первого элемента в каждом ряду */
    margin-right: -10px; /* Компенсация правого отступа для последнего элемента в каждом ряду */
}

.product-card {
    flex: 0 1 calc(33.333% - 20px); /* Каждая карточка будет занимать примерно треть родительского контейнера минус 20px на марджины */
    margin: 10px 10px; /* Верхний и нижний отступы по 10px и левый и правый также по 10px */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card img {
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
    max-height: 350px;
    height: auto;
    object-fit: contain;
}

.buy-button {
    padding: 15px 25px;
    font-size: 12px;
    font-weight: 300;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px; /* Отступ сверху для кнопки */
}

.buy-button:hover {
    background-color: #333;
}


/* --------------------------- FOOTER STYLES --------------------------- */
footer {
    background-color: #fff;
    padding: 20px 10%;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.8em;
}

/* --------------------------- RESPONSIVENESS --------------------------- */
@media screen and (max-width: 1024px) {
    .product-card {
        width: calc(50% - 20px);
        /* На устройствах с шириной 1024px и меньше - 2 карточки в ряд */
    }
}

@media screen and (max-width: 768px) {
    nav {
        width: 100%;
        justify-content: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

    .product-card {
        flex: 0 1 100%; /* Каждая карточка будет занимать 100% ширины родительского контейнера */
        margin: 10px 10px; /* Поддерживаем одинаковый отступ со всех сторон */
    }
}

@media (max-width: 600px) {
    .product-card {
        width: 100%;
        /* Карточка товара на всю ширину на самых маленьких устройствах */
    }

    .buy-button {
        width: calc(100% - 40px);
        /* Подстраиваем ширину кнопки */
    }

    .sidebar {
        width: 100%; /* полная ширина экрана */
    }
}

/* Планшеты */
@media (min-width: 601px) and (max-width: 968px) {
    .sidebar {
        width: 50%; /* ширина корзины составляет 50% от ширины экрана */
    }
}

@media (min-width: 601px) {
    .cart-item {
        flex-direction: row; /* Возвращаем в ряд на планшетах и десктопах */
        align-items: center;
        justify-content: space-between;
    }

    .cart-item-name, .cart-item-price {
        text-align: center; /* Возвращаем центрирование текста */
    }

    .cart-item-quantity p {
        margin: 0 15px; /* Увеличиваем отступы в больших экранах */
    }
}
