<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/about">about</a></li>
                <li>
                    <h2><a href="/">waste</a></h2>
                </li>
                <li><a href="/contacts">contacts</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Copyright &copy; 2023</p>
    </footer>
</body>

</html>