<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {%block css %} {% endblock %}
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/about">about</a></li>
                <li>
                    <h2><a href="/">K.K.K. Shop</a></h2>
                </li>
                <li><a href="https://t.me/Komaru_merch">contacts</a></li>
            </ul>
            <div id="cartIcon" class="cart-icon">&#x1F6D2;</div>
            <div id="closeIcon" class="close-icon fas fa-times" style="display: none;"></div>
        </nav>
    </header>
    <div id="sidebar" class="sidebar">
        <div class="sidebar-heading">
            Ваш заказ
        </div>
        <hr>
        <div id="cartItemsContainer"></div>
        <hr>
        <button class="order-button">Оформить заказ</button>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Copyright &copy; 2023</p>
    </footer>

    <script>
        document.getElementById('cartIcon').addEventListener('click', function () {
            var sidebar = document.getElementById('sidebar');
            document.getElementById('cartIcon').style.display = 'none';
            document.getElementById('closeIcon').style.display = 'block';
            sidebar.style.right = '0px';
        });

        document.getElementById('closeIcon').addEventListener('click', function () {
            var sidebar = document.getElementById('sidebar');
            document.getElementById('cartIcon').style.display = 'block';
            document.getElementById('closeIcon').style.display = 'none';
            sidebar.style.right = '-580px';
        });

        function changeQuantity(change) {
            var quantity = parseInt(document.getElementById('quantity_input').value);
            quantity = isNaN(quantity) ? 0 : quantity;
            quantity += change;
            if (quantity < 1) quantity = 1;
            document.getElementById('quantity_input').value = quantity;
        }

        function addToCart() {
            var productName = document.querySelector('.product_info > h1').textContent;
            var productPrice = document.querySelector('.product_info .price').textContent;
            var productQuantity = parseInt(document.getElementById('quantity_input').value, 10);

            var product = {
                name: productName,
                price: productPrice,
                quantity: productQuantity
            };

            var cart = JSON.parse(localStorage.getItem('cart')) || [];
            cart.push(product);
            localStorage.setItem('cart', JSON.stringify(cart));

            updateCartDOM();
            updateCartVisibility();
            openSidebar();
        }

        function updateCartDOM() {
            var cart = JSON.parse(localStorage.getItem('cart')) || [];
            var cartItemsContainer = document.getElementById('cartItemsContainer');
            cartItemsContainer.innerHTML = '';

            cart.forEach(function (item, index) {
                var cartContent = document.createElement('div');
                cartContent.className = "cart-item";
                cartContent.innerHTML = `
                    <h4>Наименование: ${item.name}</h4>
                    <p>Цена: ${item.price}</p>
                    <p>Количество: ${item.quantity}</p>
                    <button onclick="removeFromCart(${index})">Удалить</button>
                `;
                cartItemsContainer.appendChild(cartContent);
            });
        }

        function openSidebar() {
            var sidebar = document.getElementById('sidebar');
            var overlay = document.getElementById('overlay');
            document.getElementById('cartIcon').style.display = 'none';
            document.getElementById('closeIcon').style.display = 'block';
            sidebar.style.right = '0px';
            overlay.style.display = 'block';
        }

        function closeSidebar() {
            var sidebar = document.getElementById('sidebar');
            var overlay = document.getElementById('overlay');
            document.getElementById('cartIcon').style.display = 'block';
            document.getElementById('closeIcon').style.display = 'none';
            sidebar.style.right = '-580px';
            overlay.style.display = 'none';
        }

        document.getElementById('closeIcon').addEventListener('click', closeSidebar);

        function updateCartVisibility() {
            var cart = JSON.parse(localStorage.getItem('cart')) || [];
            var cartIcon = document.getElementById('cartIcon');

            if (cart.length > 0) {
                cartIcon.style.display = 'block'; 
            } else {
                cartIcon.style.display = 'none'; 
            }
        }

        document.querySelector('.buy_button').addEventListener('click', addToCart);

        function changeMainImage(src, element) {
            var mainImage = document.getElementById('mainImage');
            mainImage.src = src;
            var thumbnails = document.getElementsByClassName('clickable-thumbnail');
            for (var i = 0; i < thumbnails.length; i++) {
                thumbnails[i].style.border = 'none';
            }
            element.style.border = '2px solid grey';
        }

        function removeFromCart(index) {
            var cart = JSON.parse(localStorage.getItem('cart')) || [];
            if (index > -1 && index < cart.length) {
                cart.splice(index, 1);
                localStorage.setItem('cart', JSON.stringify(cart));
                updateCartDOM();
                updateCartVisibility();
            }
        }

        window.onload = function () {
            var firstThumbnail = document.getElementsByClassName('clickable-thumbnail')[0];
            if (firstThumbnail) {
                changeMainImage(firstThumbnail.src, firstThumbnail);
            }

            updateCartDOM();
            updateCartVisibility();
        };        
    </script>
</body>

</html>