<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
</head>

<body>
    <div class="product_card">
        <a href="/" class="close_btn">&times;</a>
        <div class="gallery">
            <img id="mainImage" src="{{ url_for('static', filename='images/' + product.images[0]) }}"
                alt="Main Product Image" class="main-image">
            <div id="thumbnails">
                {% for img in product.images %}
                <img src="{{ url_for('static', filename='images/' + img) }}" alt="Product Image" class="thumbnail"
                    onclick="changeMainImage('{{ url_for('static', filename='images/' + img) }}')">
                {% endfor %}
            </div>
        </div>
        <div class="product_info">
            <h1>{{ product.name }}</h1>
            <p class="price">{{ product.price }} р.</p>
            <div class="quantity_selector">
                <button onclick="changeQuantity(-1)">-</button>
                <input type="text" value="1" id="quantity_input">
                <button onclick="changeQuantity(1)">+</button>
            </div>
            <button class="buy_button">BUY NOW</button>
            {% if product.get('description') %}
            <p class="description">{{ product.description }}</p>
            {% endif %}
        </div>
    </div>
    <script>
        function changeMainImage(src) {
            var mainImage = document.getElementById('mainImage');
            mainImage.src = src;
        }

        function changeQuantity(change) {
            var quantity = parseInt(document.getElementById('quantity_input').value);
            quantity = isNaN(quantity) ? 0 : quantity;
            quantity += change;
            if (quantity < 1) quantity = 1;
            document.getElementById('quantity_input').value = quantity;
        }
    </script>
</body>

</html>