{% extends "base.html" %}

{% block title %}K.K.K. Shop{% endblock %}

{% block content %}
<div class="product-container">
    {% for product in products %}
    <div class="product-card">
        <a href="/product/{{ product.id }}">
            <img src="{{ url_for('static', filename='images/' ~ product.image_list()[0]) }}" alt="Product">
            <div class="product-info">
                {{ product.name }}
                <p>{{ product.price }} р.</p>
            </div>
            <button class="buy-button">Buy</button>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
