{% extends "base.html" %}

{% block title %}waste{% endblock %}

{% block content %}
<div class="product-container">
    {% for product in products %}
    <div class="product-card">
        <a href="/product/{{ loop.index0 }}">
            {% if product.images is string %}
            <img src="{{ url_for('static', filename='images/' ~ product.images) }}" alt="Product">
            {% else %}
            <img src="{{ url_for('static', filename='images/' ~ product.images[0]) }}" alt="Product">
            {% endif %}
            <div class="product-info">
                {{ product.name }}
                <p>{{ product.price }} р.</p>
            </div>
            <button class="buy-button">Buy</button>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}