<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/order.css">
    <title>Форма заказа</title>
</head>

<body>
    <div class="header">
        <h1>Ваш заказ</h1>
        <button class="close-button" onclick="window.location.href='/';">&#10005;</button>
    </div>
    <div class="container">
        <div class="form-wrapper">
            <form action="/submit_order" method="post">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" placeholder="katsumiikari@mail.ru" required>

                <label for="vk_link" class="form-label">Ссылка на VK:</label>
                <input type="url" id="vk_link" name="vk_link" placeholder="https://vk.com/katsumiikari" required>

                <label for="full_name" class="form-label">ФИО:</label>
                <input type="text" id="full_name" name="full_name" placeholder="Иванов Иван Иванович" required>

                <label for="country" class="form-label">Страна:</label>
                <input type="text" id="country" name="country" placeholder="Россия" required>

                <label for="address" class="form-label">Адрес:</label>
                <input type="text" id="address" name="address" placeholder="Россия, г. Москва, ул. Третьяковская, 12" required>

                <label for="postal_code" class="form-label">Почтовый индекс:</label>
                <input type="text" id="postal_code" name="postal_code" placeholder="125009" required>

                <label for="phone" class="form-label">Номер телефона:</label>
                <input type="tel" id="phone" name="phone" placeholder="+7 (999) 999-99-99" required>

                <label for="comment" class="form-label">Комментарий к заказу:</label>
                <textarea id="comment" name="comment"></textarea>

                <label for="payment_method" class="form-label">Способ оплаты:</label>
                <select id="payment_method" name="payment_method">
                    <option value="credit_card">Кредитной картой</option>
                </select>

                <input type="submit" value="Подтвердить заказ">
            </form>
        </div>
    </div>

</body>

</html>